In [1]:
import pandas as pd
import numpy as np

# Dataframe for The Riyadh Center :

In [2]:
df_Center = pd.read_csv("final_Central.csv")
df_Center.head()

,Unnamed: 0,shoptitle,prices,areaa,links,front,street_width,age
0,0,محل للإيجار في شارع شعبة العنبري ، حي العود ، ...,"60,000 ريال",100 م²,/محلات-للإيجار/الرياض/وسط-الرياض/حي-العود/شارع...,شرق,30 م,جديد
1,1,محل للإيجار في طريق عمر بن عبد العزيز الفرعي ،...,"276,000 ريال",460 م²,/محلات-للإيجار/الرياض/وسط-الرياض/حي-الربوة/طري...,جنوب,60 م,جديد
2,2,محل للإيجار في شارع الأمير متعب بن عبدالعزيز ،...,"80,000 ريال",125 م²,/محلات-للإيجار/الرياض/وسط-الرياض/حي-الربوة/شار...,غرب,36 م,6 سنة
3,3,محل للإيجار في شارع احمد بن فارس ، حي ثليم ، ا...,"16,000 ريال",50 م²,/محلات-للإيجار/الرياض/وسط-الرياض/حي-ثليم/شارع-...,شرق,20 م,5 سنة
4,4,محل للإيجار في شارع جرير ، حي جرير ، الرياض ، ...,"17,500 ريال",70 م²,/محلات-للإيجار/الرياض/وسط-الرياض/حي-جرير/شارع-...,شمال,NaN,NaN

In [3]:
df_Center['Region'] = "Center"
df_Center.head()

,Unnamed: 0,shoptitle,prices,areaa,links,front,street_width,age,Region
0,0,محل للإيجار في شارع شعبة العنبري ، حي العود ، ...,"60,000 ريال",100 م²,/محلات-للإيجار/الرياض/وسط-الرياض/حي-العود/شارع...,شرق,30 م,جديد,Center
1,1,محل للإيجار في طريق عمر بن عبد العزيز الفرعي ،...,"276,000 ريال",460 م²,/محلات-للإيجار/الرياض/وسط-الرياض/حي-الربوة/طري...,جنوب,60 م,جديد,Center
2,2,محل للإيجار في شارع الأمير متعب بن عبدالعزيز ،...,"80,000 ريال",125 م²,/محلات-للإيجار/الرياض/وسط-الرياض/حي-الربوة/شار...,غرب,36 م,6 سنة,Center
3,3,محل للإيجار في شارع احمد بن فارس ، حي ثليم ، ا...,"16,000 ريال",50 م²,/محلات-للإيجار/الرياض/وسط-الرياض/حي-ثليم/شارع-...,شرق,20 م,5 سنة,Center
4,4,محل للإيجار في شارع جرير ، حي جرير ، الرياض ، ...,"17,500 ريال",70 م²,/محلات-للإيجار/الرياض/وسط-الرياض/حي-جرير/شارع-...,شمال,NaN,NaN,Center

In [4]:
df_Center.drop(['shoptitle','links', 'Unnamed: 0'],axis=1 , inplace=True)

In [5]:
df_Center

           prices   areaa      front street_width      age  Region
0     60,000 ريال  100 م²        شرق         30 م     جديد  Center
1    276,000 ريال  460 م²       جنوب         60 م     جديد  Center
2     80,000 ريال  125 م²        غرب         36 م    6 سنة  Center
3     16,000 ريال   50 م²        شرق         20 م    5 سنة  Center
4     17,500 ريال   70 م²       شمال          NaN      NaN  Center
..            ...     ...        ...          ...      ...     ...
115   10,000 ريال   24 م²        شرق          5 م   25 سنة  Center
116   25,000 ريال   50 م²        غرب         10 م   20 سنة  Center
117   90,000 ريال  120 م²  شمال غربي         35 م   10 سنة  Center
118   13,500 ريال   30 م²       جنوب         15 م    7 سنة  Center
119  200,000 ريال  224 م²        شرق         15 م   20 سنة  Center

[120 rows x 6 columns]

# Dataframe for The Riyadh North :

In [6]:
df_North = pd.read_csv("site_north.csv")
df_North.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,shoptitle,prices,areaa,links,front,street_width,age
0,0,0,0,محل للإيجار في طريق الأمير تركي بن عبدالعزيز ا...,"600,000 ريال",250 م²,/محلات-للإيجار/الرياض/شمال-الرياض/حي-حطين/طريق...,شرق,NaN,NaN
1,1,1,1,محل للإيجار في الرياض,"15,000 ريال",52 م²,/محلات-للإيجار/الرياض/شمال-الرياض/حي-العارض/ال...,غرب,30 م,جديد
2,2,2,2,محل للإيجار في طريق ابي بكر الصديق ، حي النرجس...,"60,000 ريال",200 م²,/محلات-للإيجار/الرياض/شمال-الرياض/حي-النرجس/طر...,غرب,60 م,جديد
3,3,3,3,محل للإيجار في حي العارض ، الرياض ، الرياض,"40,000 ريال",80 م²,/محلات-للإيجار/الرياض/شمال-الرياض/حي-العارض/حي...,غرب,30 م,جديد
4,4,4,4,محل للإيجار في الرياض,"20,000 ريال",80 م²,/محلات-للإيجار/الرياض/شمال-الرياض/حي-العارض/ال...,جنوب,30 م,5 سنة

In [7]:
df_North['Region'] = "North"
df_North.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,shoptitle,prices,areaa,links,front,street_width,age,Region
0,0,0,0,محل للإيجار في طريق الأمير تركي بن عبدالعزيز ا...,"600,000 ريال",250 م²,/محلات-للإيجار/الرياض/شمال-الرياض/حي-حطين/طريق...,شرق,NaN,NaN,North
1,1,1,1,محل للإيجار في الرياض,"15,000 ريال",52 م²,/محلات-للإيجار/الرياض/شمال-الرياض/حي-العارض/ال...,غرب,30 م,جديد,North
2,2,2,2,محل للإيجار في طريق ابي بكر الصديق ، حي النرجس...,"60,000 ريال",200 م²,/محلات-للإيجار/الرياض/شمال-الرياض/حي-النرجس/طر...,غرب,60 م,جديد,North
3,3,3,3,محل للإيجار في حي العارض ، الرياض ، الرياض,"40,000 ريال",80 م²,/محلات-للإيجار/الرياض/شمال-الرياض/حي-العارض/حي...,غرب,30 م,جديد,North
4,4,4,4,محل للإيجار في الرياض,"20,000 ريال",80 م²,/محلات-للإيجار/الرياض/شمال-الرياض/حي-العارض/ال...,جنوب,30 م,5 سنة,North

In [8]:
df_North.drop(['shoptitle','links', 'Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'],axis=1 , inplace=True)

In [9]:
df_North

           prices   areaa front street_width      age Region
0    600,000 ريال  250 م²   شرق          NaN      NaN  North
1     15,000 ريال   52 م²   غرب         30 م     جديد  North
2     60,000 ريال  200 م²   غرب         60 م     جديد  North
3     40,000 ريال   80 م²   غرب         30 م     جديد  North
4     20,000 ريال   80 م²  جنوب         30 م    5 سنة  North
..            ...     ...   ...          ...      ...    ...
315   50,000 ريال   40 م²  جنوب         60 م    5 سنة  North
316    6,000 ريال  150 م²   شرق          NaN      NaN  North
317   70,000 ريال   52 م²   شرق         80 م   20 سنة  North
318  150,000 ريال  135 م²   غرب         36 م   13 سنة  North
319  200,000 ريال  242 م²   غرب         60 م    2 سنة  North

[320 rows x 6 columns]

# Dataframe for The Riyadh West :

In [10]:
df_West = pd.read_csv("site_west.csv")
df_West.head()

,Unnamed: 0,Unnamed: 0.1,shoptitle,prices,areaa,links,front,street_width,age
0,0,0,محل للإيجار في شارع سدره ، حي طويق ، الرياض ، ...,"16,000 ريال",50 م²,/محلات-للإيجار/الرياض/غرب-الرياض/حي-طويق/شارع-...,شمال غربي,20 م,15 سنة
1,1,1,محل للإيجار في شارع حلب ، حي ظهرة لبن ، الرياض...,"80,000 ريال",132 م²,/محلات-للإيجار/الرياض/غرب-الرياض/حي-ظهرة-لبن/ش...,شرق,30 م,جديد
2,2,2,محل للإيجار في شارع احمد بن منيع ، حي الحزم ، ...,"9,000 ريال",30 م²,/محلات-للإيجار/الرياض/غرب-الرياض/حي-الحزم/شارع...,جنوب,NaN,NaN
3,3,3,محل للإيجار في شارع الجوهرة بنت ابن معمر ، حي ...,"15,000 ريال",20 م²,/محلات-للإيجار/الرياض/غرب-الرياض/حي-الشرفية/شا...,شمال,30 م,20 سنة
4,4,4,محل للإيجار في شارع الشيخ اسحاق بن عبدالرحمن ب...,"7,000 ريال",28 م²,/محلات-للإيجار/الرياض/غرب-الرياض/حي-الزهرة/شار...,شمال,NaN,NaN

In [11]:
df_West['Region'] = "West"
df_West.head()

,Unnamed: 0,Unnamed: 0.1,shoptitle,prices,areaa,links,front,street_width,age,Region
0,0,0,محل للإيجار في شارع سدره ، حي طويق ، الرياض ، ...,"16,000 ريال",50 م²,/محلات-للإيجار/الرياض/غرب-الرياض/حي-طويق/شارع-...,شمال غربي,20 م,15 سنة,West
1,1,1,محل للإيجار في شارع حلب ، حي ظهرة لبن ، الرياض...,"80,000 ريال",132 م²,/محلات-للإيجار/الرياض/غرب-الرياض/حي-ظهرة-لبن/ش...,شرق,30 م,جديد,West
2,2,2,محل للإيجار في شارع احمد بن منيع ، حي الحزم ، ...,"9,000 ريال",30 م²,/محلات-للإيجار/الرياض/غرب-الرياض/حي-الحزم/شارع...,جنوب,NaN,NaN,West
3,3,3,محل للإيجار في شارع الجوهرة بنت ابن معمر ، حي ...,"15,000 ريال",20 م²,/محلات-للإيجار/الرياض/غرب-الرياض/حي-الشرفية/شا...,شمال,30 م,20 سنة,West
4,4,4,محل للإيجار في شارع الشيخ اسحاق بن عبدالرحمن ب...,"7,000 ريال",28 م²,/محلات-للإيجار/الرياض/غرب-الرياض/حي-الزهرة/شار...,شمال,NaN,NaN,West

In [12]:
df_West.drop(['shoptitle','links', 'Unnamed: 0','Unnamed: 0.1'],axis=1 , inplace=True)

In [13]:
df_West

           prices   areaa      front street_width      age Region
0     16,000 ريال   50 م²  شمال غربي         20 م   15 سنة   West
1     80,000 ريال  132 م²        شرق         30 م     جديد   West
2      9,000 ريال   30 م²       جنوب          NaN      NaN   West
3     15,000 ريال   20 م²       شمال         30 م   20 سنة   West
4      7,000 ريال   28 م²       شمال          NaN      NaN   West
..            ...     ...        ...          ...      ...    ...
455  100,000 ريال  108 م²       شمال          NaN      NaN   West
456   13,000 ريال   20 م²       شمال         40 م   27 سنة   West
457   24,000 ريال  150 م²       جنوب         20 م   20 سنة   West
458   54,000 ريال  216 م²        شرق         40 م     جديد   West
459   40,000 ريال   40 م²       شمال          NaN      NaN   West

[460 rows x 6 columns]



# Dataframe for The Riyadh South :

In [14]:
df_South = pd.read_csv("site_south.csv")
df_South.head()

,Unnamed: 0,Unnamed: 0.1,shoptitle,prices,areaa,links,front,street_width,age
0,0,0,محل للإيجار في شارع وادي التسرير ، حي بدر ، ال...,"90,000 ريال",1200 م²,/محلات-للإيجار/الرياض/جنوب-الرياض/حي-بدر/شارع-...,3 شوارع,60 م,5 سنة
1,1,1,محل للإيجار في طريق النصر ، حي المصانع ، الريا...,"30,000 ريال",122 م²,/محلات-للإيجار/الرياض/جنوب-الرياض/حي-المصانع/ط...,شمال,60 م,جديد
2,2,2,محل للإيجار في شارع المثنى بن حارثة ، حي الشفا...,"25,000 ريال",42 م²,/محلات-للإيجار/الرياض/جنوب-الرياض/حي-الشفا/شار...,شرق,30 م,15 سنة
3,3,3,محل للإيجار في شارع روض الجوار ، حي الدار البي...,"25,000 ريال",150 م²,/محلات-للإيجار/الرياض/جنوب-الرياض/حي-الدار-الب...,جنوب,30 م,2 سنة
4,4,4,محل للإيجار في شارع نهاوند ، حي العزيزية ، الر...,"5,000 ريال",26 م²,/محلات-للإيجار/الرياض/جنوب-الرياض/حي-العزيزية/...,جنوب,30 م,18 سنة

In [15]:
df_South['Region'] = "South"
df_South.head()

,Unnamed: 0,Unnamed: 0.1,shoptitle,prices,areaa,links,front,street_width,age,Region
0,0,0,محل للإيجار في شارع وادي التسرير ، حي بدر ، ال...,"90,000 ريال",1200 م²,/محلات-للإيجار/الرياض/جنوب-الرياض/حي-بدر/شارع-...,3 شوارع,60 م,5 سنة,South
1,1,1,محل للإيجار في طريق النصر ، حي المصانع ، الريا...,"30,000 ريال",122 م²,/محلات-للإيجار/الرياض/جنوب-الرياض/حي-المصانع/ط...,شمال,60 م,جديد,South
2,2,2,محل للإيجار في شارع المثنى بن حارثة ، حي الشفا...,"25,000 ريال",42 م²,/محلات-للإيجار/الرياض/جنوب-الرياض/حي-الشفا/شار...,شرق,30 م,15 سنة,South
3,3,3,محل للإيجار في شارع روض الجوار ، حي الدار البي...,"25,000 ريال",150 م²,/محلات-للإيجار/الرياض/جنوب-الرياض/حي-الدار-الب...,جنوب,30 م,2 سنة,South
4,4,4,محل للإيجار في شارع نهاوند ، حي العزيزية ، الر...,"5,000 ريال",26 م²,/محلات-للإيجار/الرياض/جنوب-الرياض/حي-العزيزية/...,جنوب,30 م,18 سنة,South

In [16]:
df_South.drop(['shoptitle','links', 'Unnamed: 0','Unnamed: 0.1'],axis=1 , inplace=True)

In [17]:
df_South

             prices    areaa    front street_width      age Region
0       90,000 ريال  1200 م²  3 شوارع         60 م    5 سنة  South
1       30,000 ريال   122 م²     شمال         60 م     جديد  South
2       25,000 ريال    42 م²      شرق         30 م   15 سنة  South
3       25,000 ريال   150 م²     جنوب         30 م    2 سنة  South
4        5,000 ريال    26 م²     جنوب         30 م   18 سنة  South
..              ...      ...      ...          ...      ...    ...
175     66,000 ريال   600 م²      غرب         22 م   26 سنة  South
176      9,000 ريال    24 م²      غرب         30 م   32 سنة  South
177  1,000,000 ريال  2000 م²      شرق         60 م     جديد  South
178      7,000 ريال    28 م²     شمال         30 م   15 سنة  South
179     10,400 ريال    40 م²     شمال         40 م   15 سنة  South

[180 rows x 6 columns]

# Dataframe for The Riyadh East :

In [18]:
df_East = pd.read_csv("final_east.csv")
df_East.head()

,Unnamed: 0,Unnamed: 0.1,shoptitle,prices,areaa,links,front,street_width,age
0,0,0,"محل للإيجار في شارع ابي جعفر المنصور, حي الشهد...","115,500 ريال",75 م²,/محلات-للإيجار/الرياض/شرق-الرياض/حي-الشهداء/شا...,شمال غربي,36 م,4 سنة
1,1,1,محل للإيجار في حي الخليج ، الرياض ، الرياض,"15,000 ريال",44 م²,/محلات-للإيجار/الرياض/شرق-الرياض/حي-الخليج/حي-...,شرق,30 م,جديد
2,2,2,محل للإيجار في شارع الصحابة ، حي المونسية ، ال...,"35,000 ريال",100 م²,/محلات-للإيجار/الرياض/شرق-الرياض/حي-المونسية/ش...,شرق,5 م,2 سنة
3,3,3,محل للإيجار في حي القادسية ، الرياض ، الرياض,"20,000 ريال",36 م²,/محلات-للإيجار/الرياض/شرق-الرياض/حي-القادسية/ح...,شمال,30 م,5 سنة
4,4,4,محل للإيجار في شارع فضيلة السيد محمد حسين أفند...,"60,000 ريال",80 م²,/محلات-للإيجار/الرياض/شرق-الرياض/حي-الرمال/شار...,شمال,30 م,جديد

In [19]:
df_East['Region'] = "East"
df_East.head()

,Unnamed: 0,Unnamed: 0.1,shoptitle,prices,areaa,links,front,street_width,age,Region
0,0,0,"محل للإيجار في شارع ابي جعفر المنصور, حي الشهد...","115,500 ريال",75 م²,/محلات-للإيجار/الرياض/شرق-الرياض/حي-الشهداء/شا...,شمال غربي,36 م,4 سنة,East
1,1,1,محل للإيجار في حي الخليج ، الرياض ، الرياض,"15,000 ريال",44 م²,/محلات-للإيجار/الرياض/شرق-الرياض/حي-الخليج/حي-...,شرق,30 م,جديد,East
2,2,2,محل للإيجار في شارع الصحابة ، حي المونسية ، ال...,"35,000 ريال",100 م²,/محلات-للإيجار/الرياض/شرق-الرياض/حي-المونسية/ش...,شرق,5 م,2 سنة,East
3,3,3,محل للإيجار في حي القادسية ، الرياض ، الرياض,"20,000 ريال",36 م²,/محلات-للإيجار/الرياض/شرق-الرياض/حي-القادسية/ح...,شمال,30 م,5 سنة,East
4,4,4,محل للإيجار في شارع فضيلة السيد محمد حسين أفند...,"60,000 ريال",80 م²,/محلات-للإيجار/الرياض/شرق-الرياض/حي-الرمال/شار...,شمال,30 م,جديد,East

In [20]:
df_East.drop(['shoptitle','links', 'Unnamed: 0','Unnamed: 0.1'],axis=1 , inplace=True)

In [21]:
df_East

           prices    areaa      front street_width      age Region
0    115,500 ريال    75 م²  شمال غربي         36 م    4 سنة   East
1     15,000 ريال    44 م²        شرق         30 م     جديد   East
2     35,000 ريال   100 م²        شرق          5 م    2 سنة   East
3     20,000 ريال    36 م²       شمال         30 م    5 سنة   East
4     60,000 ريال    80 م²       شمال         30 م     جديد   East
..            ...      ...        ...          ...      ...    ...
455   13,000 ريال    40 م²       شمال          NaN      NaN   East
456   55,000 ريال     8 م²       جنوب         30 م   15 سنة   East
457   25,000 ريال    72 م²        غرب         30 م   18 سنة   East
458  250,000 ريال  1000 م²        شرق         40 م     جديد   East
459   30,000 ريال    80 م²        شرق         40 م    2 سنة   East

[460 rows x 6 columns]

# Concat Dataframes:

In [22]:
df_Riyadh_shops = pd.concat([df_Center ,df_North, df_West, df_South, df_East])
df_Riyadh_shops

           prices    areaa front street_width      age  Region
0     60,000 ريال   100 م²   شرق         30 م     جديد  Center
1    276,000 ريال   460 م²  جنوب         60 م     جديد  Center
2     80,000 ريال   125 م²   غرب         36 م    6 سنة  Center
3     16,000 ريال    50 م²   شرق         20 م    5 سنة  Center
4     17,500 ريال    70 م²  شمال          NaN      NaN  Center
..            ...      ...   ...          ...      ...     ...
455   13,000 ريال    40 م²  شمال          NaN      NaN    East
456   55,000 ريال     8 م²  جنوب         30 م   15 سنة    East
457   25,000 ريال    72 م²   غرب         30 م   18 سنة    East
458  250,000 ريال  1000 م²   شرق         40 م     جديد    East
459   30,000 ريال    80 م²   شرق         40 م    2 سنة    East

[1540 rows x 6 columns]

# Data Cleaning...

In [23]:
 df_Riyadh_shops.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1540 entries, 0 to 459
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prices        1540 non-null   object
 1   areaa         1540 non-null   object
 2   front         1540 non-null   object
 3   street_width  1208 non-null   object
 4   age           1208 non-null   object
 5   Region        1540 non-null   object
dtypes: object(6)
memory usage: 84.2+ KB

In [24]:
df_Riyadh_shops.prices =df_Riyadh_shops.prices.str.replace(r'[^0-9]','',regex=True).astype('float')

In [25]:
df_Riyadh_shops['prices']=df_Riyadh_shops.prices.astype('int')

In [26]:
df_Riyadh_shops.areaa =df_Riyadh_shops.areaa.str.replace(r'[^0-9]','',regex=True).astype('int')

In [27]:
df_Riyadh_shops.street_width =df_Riyadh_shops.street_width.str.replace(r'[^0-9]','',regex=True).astype('float')

In [28]:
df_Riyadh_shops.age =df_Riyadh_shops.age.str.replace('سنة','')

In [29]:
df_Riyadh_shops['age']=df_Riyadh_shops['age'].replace({'جديد' :'0'},inplace = False).astype('float')

In [30]:
df_Riyadh_shops.sample(100)

     prices  areaa      front  street_width   age Region
167   35000     48        شرق          40.0  11.0   West
191   27000     14       شمال           NaN   NaN   West
83    75000    180        شرق          40.0  25.0   East
307  700000   1600        غرب          40.0   0.0   East
404   14000     40        غرب          40.0  20.0   East
..      ...    ...        ...           ...   ...    ...
57    76000     76        شرق          40.0   0.0  North
374   12000     50  جنوب شرقي          40.0  36.0   East
437   25000     72        غرب          30.0  18.0   East
251  150000    180        غرب          15.0  10.0  North
181   35000    175        شرق          30.0   2.0   West

[100 rows x 6 columns]

In [31]:
df_Riyadh_shops.isna().sum()

prices            0
areaa             0
front             0
street_width    332
age             332
Region            0
dtype: int64

In [32]:
df_Riyadh_shops['front'].unique()

array(['شرق', 'جنوب', 'غرب', 'شمال', 'شمال شرقي', 'جنوب شرقي',
       'جنوب غربي', '3 شوارع', 'شمال غربي', '4 شوارع'], dtype=object)

In [33]:
df_Riyadh_shops['front'].nunique()

10

In [34]:
df_Riyadh_shops['street_width'].unique()

array([ 30.,  60.,  36.,  20.,  nan,  50.,  12.,  40., 100.,   5.,  10.,
        32.,  25.,  35.,   9.,   1.,   4.,  80.,  44.,  31.,  17.,  21.,
        61.,  15.,  34.,  41.,  26.,   7.,  29.,  47.,  45.,  59.,  65.,
        75.,  33.,   6.,  67.,  11.,  42.,  24.,  16.,  37.,  22.,  70.,
        46.,  28.])

In [35]:
df_Riyadh_shops['age'].unique()

array([ 0.,  6.,  5., nan, 10., 30., 12.,  7., 15., 26., 25., 13., 20.,
       17., 27.,  2., 28., 35.,  4., 23., 18., 14.,  9.,  8., 36.,  3.,
       24., 32., 19., 21., 11., 22., 29., 33., 16., 31.])

In [36]:
df_Riyadh_shops.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1540 entries, 0 to 459
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prices        1540 non-null   int32
 1   areaa         1540 non-null   int32
 2   front         1540 non-null   object
 3   street_width  1208 non-null   float64
 4   age           1208 non-null   float64
 5   Region        1540 non-null   object
dtypes: float64(2), int32(2), object(2)
memory usage: 72.2+ KB

In [37]:
df_Riyadh_shops=df_Riyadh_shops.reset_index(drop=True)

In [38]:
df_Riyadh_shops

      prices  areaa front  street_width   age  Region
0      60000    100   شرق          30.0   0.0  Center
1     276000    460  جنوب          60.0   0.0  Center
2      80000    125   غرب          36.0   6.0  Center
3      16000     50   شرق          20.0   5.0  Center
4      17500     70  شمال           NaN   NaN  Center
...      ...    ...   ...           ...   ...     ...
1535   13000     40  شمال           NaN   NaN    East
1536   55000      8  جنوب          30.0  15.0    East
1537   25000     72   غرب          30.0  18.0    East
1538  250000   1000   شرق          40.0   0.0    East
1539   30000     80   شرق          40.0   2.0    East

[1540 rows x 6 columns]

In [39]:
df_Riyadh_shops['Region'].unique()

array(['Center', 'North', 'West', 'South', 'East'], dtype=object)

In [40]:
df_Riyadh_shops['Region']= df_Riyadh_shops['Region'].replace({'North' :'5' ,'Center' : '4' , 'East' : '3','West': '2','South': '1'},inplace=False)

In [41]:
df_Riyadh_shops['Region']=df_Riyadh_shops.Region.astype(int)

In [42]:
df_Riyadh_shops.dtypes

prices            int32
areaa             int32
front            object
street_width    float64
age             float64
Region            int32
dtype: object

In [43]:
df_Riyadh_shops['front']= df_Riyadh_shops['front'].replace({'شرق' :'east' ,'جنوب' : 'South' , 'غرب' : 'West','شمال': 'North','شمال شرقي': 'Northeast','جنوب شرقي':'Southeast','جنوب غربي':'Southwest','3 شوارع': 'three Streets','شمال غربي':'Northwest','4 شوارع':'four Street'},inplace=False)

In [44]:
df_Riyadh_shops

      prices  areaa  front  street_width   age  Region
0      60000    100   east          30.0   0.0       4
1     276000    460  South          60.0   0.0       4
2      80000    125   West          36.0   6.0       4
3      16000     50   east          20.0   5.0       4
4      17500     70  North           NaN   NaN       4
...      ...    ...    ...           ...   ...     ...
1535   13000     40  North           NaN   NaN       3
1536   55000      8  South          30.0  15.0       3
1537   25000     72   West          30.0  18.0       3
1538  250000   1000   east          40.0   0.0       3
1539   30000     80   east          40.0   2.0       3

[1540 rows x 6 columns]

In [52]:
df_Riyadh_shops=pd.get_dummies(df_Riyadh_shops,drop_first=True)
df_Riyadh_shops

,prices,areaa,street_width,age,Region,front_North,front_Northeast,front_Northwest,front_South,front_Southeast,front_Southwest,front_West,front_east,front_four Street,front_three Streets
0,60000,100,30.0,0.0,4,0,0,0,0,0,0,0,1,0,0
1,276000,460,60.0,0.0,4,0,0,0,1,0,0,0,0,0,0
2,80000,125,36.0,6.0,4,0,0,0,0,0,0,1,0,0,0
3,16000,50,20.0,5.0,4,0,0,0,0,0,0,0,1,0,0
4,17500,70,NaN,NaN,4,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535,13000,40,NaN,NaN,3,1,0,0,0,0,0,0,0,0,0
1536,55000,8,30.0,15.0,3,0,0,0,1,0,0,0,0,0,0
1537,25000,72,30.0,18.0,3,0,0,0,0,0,0,1,0,0,0
1538,250000,1000,40.0,0.0,3,0,0,0,0,0,0,0,1,0,0
1539,30000,80,40.0,2.0,3,0,0,0,0,0,0,0,1,0,0

In [110]:
df_Riyadh_shops

      prices  areaa  front  street_width   age  Region
0      60000    100      4          30.0   0.0       4
1     276000    460      4          60.0   0.0       4
2      80000    125      4          36.0   6.0       4
3      16000     50      4          20.0   5.0       4
4      17500     70      4           NaN   NaN       4
...      ...    ...    ...           ...   ...     ...
1535   13000     40      3           NaN   NaN       3
1536   55000      8      3          30.0  15.0       3
1537   25000     72      3          30.0  18.0       3
1538  250000   1000      3          40.0   0.0       3
1539   30000     80      3          40.0   2.0       3

[1540 rows x 6 columns]

In [104]:
df_Riyadh_shops.to_csv("Riyadh_shops.csv", encoding="utf-8")